@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2d343c;
}

.container {
    max-width: 1200px;
    margin: o auto;
}

.header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(images/vecteezy_close-up-of-hot-latte-coffee-in-the-cafe-photo-banner-for_10377416_79.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
 }   

 .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .logo {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 800;
 }

 .menu .navbar ul li {
    position: relative;
    float: left;
 }

 .menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
 }

 #menu {
    display: none;
 }

 .menu-icono {
    width: 25px;
 }

 .menu label {
    cursor: pointer;
    display: none;
 }

 .submenu #carrito {
    display: none;
 }

 .submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
 }
 