@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2d343c;
}

.container {
    max-width: 1200px;
    margin: o auto;
}

.header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)),
        url(images/vecteezy_close-up-of-hot-latte-coffee-in-the-cafe-photo-banner-for_10377416_79.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
 }   

 .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .logo {
   background-image: linear-gradient(
        rgba(0, 0.2),
        rgba(0, 0.2)),
        url(images/LogoSealCoffee.png);
    font-size: 25px;
    font-weight: 800;
 }

 .menu .navbar ul li {
    position: relative;
    float: left;
 }

 .menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ecebeb;
    display: block;
    font-weight: 600;
   
 }

 #menu {
    display: none;
 }

 .menu-icono {
    width: 25px;
 }

 .menu label {
    cursor: pointer;
    display: none;
 }

 .submenu {
   position: relative;
 }

 .submenu #carrito {
    display: none;
 }

 .submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
 }
 
 table {
   width: 100%;
 }

 th, td {
   color: #FFFFFF;
 }

 .borrar {
   background-color: #f35200;
   border-radius: 50%;
   padding: 5px 10px;
   color: #FFFFFF;
   font-weight: 800;
 }

 .header-txt {
   padding: 0 200px;
   text-align: center;
 }

 .header-txt h1 {
   font-size: 70px;
   line-height: 80px;
   color: #FFFFFF;
   margin-bottom: 20px;
 }

 .header-txt p {
   font-size: 16px;
   color: #ecebeb;
   margin-bottom: 20px;
 }

 .btn-1 {
   display: inline-block;
   background-color: #f35200;
   color: #FFFFFF;
   padding: 13px 35px;
   border-radius: 25px;
   text-transform: capitalize;
   font-size: 16px;
 }

 
